# Настройки s3
S3_ENDPOINT=базовый url
ACCESS_KEY=ключ доступа
SECRET_KEY=секретный ключ
SERT_PATH_S3=путь до сертификата
EXPIRES_IN=время жизни временной ссылки

# Настройки приложения
IP_APP=ip адрес
PORT_APP=порт
INTERFACE=интерфейс
WORKERS=количество воркеров
SECRET=токен для приложения

# Настройки Redis
IP_REDIS=ip адрес
PORT_REDIS=порт
DECODE_RESPONSES=декодировать запросы
PREFIX=название префикса
REDIS_USER=имя пользователя
REDIS_PASSWD=пароль
TOKEN_TTL_SECONDS=время жизни токена в секундах

# Настройки Nginx
PORT_http_NGINX=порт для http
PORT_https_NGINX=порт для https
